language: julia
osx_image: xcode11.4
notifications:
  email: false
os:
  - linux
  - osx
julia:
  - 1
  - nightly
matrix:
  allow_failures:
    - julia: nightly
before_script: julia -e 'using Pkg; Pkg.build(); Pkg.add(PackageSpec(; name="MPI", rev="master"))'
